EventManager/PubSubWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://pubsub/" name="PubSubWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://pubsub/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://pubsub/" schemaLocation="PubSubWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createTopic">
    <part name="parameters" element="tns:createTopic"/>
  </message>
  <message name="createTopicResponse">
    <part name="parameters" element="tns:createTopicResponse"/>
  </message>
  <message name="initEventManager">
    <part name="parameters" element="tns:initEventManager"/>
  </message>
  <message name="initEventManagerResponse">
    <part name="parameters" element="tns:initEventManagerResponse"/>
  </message>
  <message name="sendMessage">
    <part name="parameters" element="tns:sendMessage"/>
  </message>
  <message name="sendMessageResponse">
    <part name="parameters" element="tns:sendMessageResponse"/>
  </message>
  <portType name="PubSubWS">
    <operation name="createTopic">
      <input wsam:Action="http://pubsub/PubSubWS/createTopicRequest" message="tns:createTopic"/>
      <output wsam:Action="http://pubsub/PubSubWS/createTopicResponse" message="tns:createTopicResponse"/>
    </operation>
    <operation name="initEventManager">
      <input wsam:Action="http://pubsub/PubSubWS/initEventManagerRequest" message="tns:initEventManager"/>
      <output wsam:Action="http://pubsub/PubSubWS/initEventManagerResponse" message="tns:initEventManagerResponse"/>
    </operation>
    <operation name="sendMessage">
      <input wsam:Action="http://pubsub/PubSubWS/sendMessageRequest" message="tns:sendMessage"/>
      <output wsam:Action="http://pubsub/PubSubWS/sendMessageResponse" message="tns:sendMessageResponse"/>
    </operation>
  </portType>
  <binding name="PubSubWSPortBinding" type="tns:PubSubWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createTopic">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="initEventManager">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sendMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PubSubWS">
    <port name="PubSubWSPort" binding="tns:PubSubWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

